extends layout

block content
    h1= title
    if data.length > 0
        table
            tr
                th Nr
                th Nazwa
                th Początek
                th Koniec
            each val, index in data
                tr
                    td= index + 1
                    td= val.auction_title
                    td= val.offers_start
                    td= val.offers_stop
    else
        p Brak zakończonych przetargów
